<div class="add-to-cart">
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <button type="submit" class="btn btn-primary">Add to Cart</button>
  </form>
</div>