<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel</title>
  <style>
    .resenas {
      padding: 4rem 0;
    }

    .resenas h1 {
      text-align: center;
    }
    .carousel {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      max-width: 1024px;
    }

    .carousel-container {
      display: flex;
      transition: transform 0.5s;
      max-width: 100%;
    }

    .slide {
      width: 100%;
      flex-shrink: 0;
      flex-grow: 0;
      text-align: center;
      display: flex;
    }

    .review-col {
      flex: 1;
      padding: 1rem;
    }

    .review-content {
      background: rgb(233, 228, 245);
      padding: 1rem;
    }

    .carousel button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .prev, .next {
      background: ;
      border-radius: 2rem;
      border: 0;
      box-shadow: 0 30px 30px rgba(0,0,0,.05);
      width: 3rem;
      height: 3rem;
      display: block;
      font-weight: bold;
      color: rgb(96, 61, 189);
      background: rgb(213, 252, 109);
      cursor: pointer;
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }

    .review-disclaimer {
      text-align: center;
      font-size: 0.8rem;
    }
  </style>
</head>

<body>
  <div class="carousel color-background-1 gradient resenas">
    <h1>Rese침as de nuestros usuarios</h1>
    <div class="carousel-container">
      <div class="slide">
        <div class="review-col">
          <div class="review-content">
            La hora SAT es un gran servicio. Desde el primer contacto con la p치gina, pasando por el pago y la asesor칤a,
            todo cumple su funci칩n. Muchas gracias por todo.
          </div>
        </div>

        <div class="review-col">
          <div class="review-content">
            Amo su paciencia y su don por ayudar y ense침arnos a no morir con el SAT. Creo que si resolv칤 todas mis dudas
            si
            alguna me queda pendiente es porque huyo de mi cabeza :) En verdad muchas gracias por ayudarme a dar de
            nuevo
            los pasitos b치sicos para estar al 100 con el SAT.
          </div>
        </div>

        <div class="review-col">
          <div class="review-content">
            Muy buena la asesor칤a, Miranda resolvi칩 todas nuestras dudas, de manera s칰per did치ctica y amable, algo que
            valoramos mucho porque no ten칤amos nada de idea de esto! Gracias!
          </div>
        </div>

        <div class="review-col">
          <div class="review-content">
            "Una excelente atenci칩n, resolvi칩 mis dudas amablemente, me brind칩 la orientaci칩n necesaria para conocer el
            proceso
            y los pasos a seguir. Me sent칤 en total confianza."
          </div>
        </div>
      </div>
      <div class="slide">


        <div class="review-col">
          <div class="review-content">
            "Todo estuvo excelente, un tema tan dif칤cil lo hacen muy f치cil para uno como simple mortal. 100/100"
          </div>
        </div>

        <div class="review-col">
          <div class="review-content">
            "Todo estuvo perfecto, pq antes de la asesoria, me preguntaron mis dudas especificas y sobre eso nos fuimos,
            as칤 aprovechamos la hora de asesoria"
          </div>
        </div>

        <div class="review-col">
          <div class="review-content">
            "Estuvo muy bien! Me ayudaron much칤simo sobre dudas que casi nadie me hab칤a resuelto, las recomendar칠 游때"
          </div>
        </div>

        <div class="review-col">
          <div class="review-content">
            "Tuve mucha luz, estaba muy perdida pero justo despu칠s de platicar con ustedes hicieron sentido las cosas
            que me estaban pidiendo. Ya me asusta menos la responsabilidad de declarar mensualmente."
          </div>
        </div>

      </div>
    </div>
    <button class="prev"><</button>
    <button class="next">></button>


    <div className="mt-3">
      <p className="font-xs text-center review-disclaimer">
        * Rese침as de la encuesta de satisfacci칩n que enviamos al terminar la
        asesoria, nombres ocultos por respeto a su privacidad.
      </p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      const carouselContainer = $('.carousel-container');
      const slideWidth = $('.slide').outerWidth();
      let currentIndex = 0;
      const totalSlides = $('.slide').length;

      function moveCarousel() {
        const newPosition = -currentIndex * slideWidth;
        carouselContainer.css('transform', `translateX(${newPosition}px)`);
      }

      $('.next').click(function () {
        currentIndex = (currentIndex + 1) % totalSlides;
        moveCarousel();
      });

      $('.prev').click(function () {
        currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
        moveCarousel();
      });
    });
  </script>
</body>

</html>

{% schema %}
  {
    "name": "Rese침as",
    "tag": "section",
    "class": "section"
  }
{% endschema %}