
/* reset  */


.page-width {
  max-width: 3000px!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Meek Display", serif!important;
}

@font-face {
  font-family: "Meek Display";
  src: url("https://cdn.shopify.com/s/files/1/0625/4700/1514/files/Meek_Display_Medium.ttf?v=1697030520") 
      format("truetype");
}

/* custom sections */


image-with-text__content {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.image-with-text  {
  background: #603DBD;
}

.collection__title.title-wrapper, .title, .blog__title {
  text-align: center!important;
  max-width: 1000px;
  margin: 0 auto!important;
}

.collection__title.title-wrapper {
  margin: 0 auto 2rem!important;
}

.title-wrapper-with-link {
  justify-content: center!important;
}

.image-with-link {
  width: 100%;
height: 100%;
left: 0 !important;
transform: none !important;
}
.grid  {
  max-width: 1200px!important;
  margin: 0 auto;
  justify-content: center;
}

.color-inverse .title {
  color: #D5FC6D;
}

.card__heading {
  font-size: 2.5rem!important;
  text-decoration: none!important;
}

.color-inverse {
  background-image: url('https://cdn.shopify.com/s/files/1/0625/4700/1514/files/textura-purple_f2b1a812-2a43-4240-ade0-54ce11489870.png?v=1697030470')!important;
}

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.col-md-6 {
  flex: 1;
  max-width: 50%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.section-hero {
  background: #e9e4f5;
  padding: 5rem 0;
    background-image: url('https://cdn.shopify.com/s/files/1/0625/4700/1514/files/textura-green_ac72fd9b-7e3f-4396-bf89-4a9b9c263695.png?v=1697030443')!important;
}

@media (max-width: 768px) {
  .section-hero {
    padding: 1rem 0;
  }

  .container {
    padding: 0 2rem;
  }
}

.section-template--15693383696554__16565315463aa91188-padding .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.a-underline {
  background: #D5FC6D;
  text-decoration: none;
  color: var(--color-foreground);
}

.rte {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.main-page-title {
  margin-bottom: 4rem;
  text-align: center;
  background: #D5FC6D;
  padding: 5rem;
  color: #fff;
}

.contact {
  max-width: 1200px!important;
  margin: 0 auto;
}

.rich-text__blocks > * + * {
  margin-top: -1rem!important;
}

.main-blog {
  max-width: 1000px!important;
}

.main-blog .title--primary {
  display: none;
}

.article-card {
  box-shadow: 0, 10px, 60px, rgba(0,0,0,.15);
}


@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-6 {
  max-width: 100%;
}
}

/* Reviews */

.review-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.review-slide {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-box {
  width: calc(25% - 20px); /* Adjust the width as needed for the desired number of columns */
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 20px;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
}

.review-content {
  flex: 1;
}

.review-author {
  margin-top: 10px;
}

.slider-controls {
  margin-top: 20px;
  text-align: center;
}

.prev-slide,
.next-slide {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}



.payment-icons {
  display: flex;
}

.payment-icons li {
  list-style: none;
  padding: 1rem;
  justify-content: center;
}




